---
const { props } = Astro.props
---

<a href={`/blog/${props.data.id}`} class="mb-8 block">
  <article class="neumorphic-card rounded-xl bg-gray-100 p-6 transition duration-300 hover:shadow-lg">
    <h2 class="neumorphic-text mb-2 text-2xl font-bold text-gray-800">
      {props.data.title}
    </h2>
    <div class="mb-3 flex items-center">
      <p class="neumorphic-text mr-4 text-sm text-gray-600">By {props.data.author}</p>
      <p class="neumorphic-text text-sm text-gray-500">
        {new Date(props.data.publishDate).toLocaleDateString('ja-JP')}
      </p>
    </div>
    <p class="neumorphic-text text-gray-700">{props.data.excerpt}…</p>
  </article>
</a>
